<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เพิ่มร้านอาหาร</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-4">

    <h2>➕ เพิ่มร้านอาหาร</h2>

    <hr>

    <form method="POST">

        <div class="mb-3">
            <label class="form-label">ชื่อร้าน</label>
            <input type="text" class="form-control" name="name" required>
        </div>

        <div class="mb-3">
            <label class="form-label">จังหวัด</label>
            <select class="form-select" name="province" id="province" required>
                <option value="">-- เลือกจังหวัด --</option>
                {% for p in provinces %}
                <option value="{{ p.name }}">
                    {{ p.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">นิคม</label>
            <select class="form-select" name="industrial_estate" id="industrial_estate" required>
            <option value="">-- เลือกนิคม --</option>
            {% for i in industrial_estates %}
            <option value="{{ i.name }}" data-province="{{ i.province }}">
            {{ i.province }} - {{ i.name }}
            </option>
            {% endfor %}
            </select>
        </div>
        <script>
            const province = document.getElementById("province");
            const estate = document.getElementById("industrial_estate");
            const selected = this.value;
            for (let option of estate.options) {
                if(option.value === ""){
                    continue;
                }
                if (option.dataset.province === selected) {
                    option.hidden = false;
                }
                else{
                    option.hidden = true;
                }
            }
        province.addEventListener(
        "change",
        function(){
            estate.value="";
            filterEstate();
        });
        filterEstate();
        </script>

        <div class="mb-3">
            <label class="form-label">Google Maps</label>
            <input type="url" class="form-control" name="google_map" required>
        </div>

        <div class="mb-3">
            <label class="form-label">ผู้เพิ่ม</label>
            <input type="text" class="form-control" name="created_by" required>
        </div>

        <button type="submit" class="btn btn-success">
            💾 บันทึก
        </button>

        <a href="/" class="btn btn-secondary">
            ย้อนกลับ
        </a>

    </form>

</div>

</body>
</html>